<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>People Helping :: Helping People</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body { padding-top:80px; }
      header { display: flex;}
    </style>
</head>
<body>
<main class="container">

    <header>
        <h1>People Helping :: Helping People</h1>

<% if(typeof user == 'object' && user) { %>
      <a href='/logout' class='btn btn-default'><span class='fa fa-sign-out'></span> Logout</a>
<% } else { %>
        <p>Login or Register with:</p>
        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
 <% } %>
    </header>
    <section class='category-container'></section>
</main>
  <script src='/js/models/category.js'></script>
  <script src='/js/categories.js'></script>
</body>
</html>